@media (max-width: 1000px), (max-width: 452px), (max-width: 630px), (max-width: 541px) {
	.role_sign {
		left: 11%;
	}
	.main_bl_hd {
		padding-left: 26px;
	}
	.st_main {
		width: 200px;
	}
	.back {
		bottom: 87%;
		right: 88%;
	}
}